@model HyperRadioMVC.ViewModels.ShowDetailsVM

<div class="container">
    <div class="show-time">
        <h5>@Model.ScheduledStart</h5>
    </div>

    <div class="show-title">
        <h2 id="show-title">@Model.Name</h2>
    </div>

    <div class="show-description">
        <p id="show-description">@Model.Description</p>
    </div>
</div>