@model HyperRadioMVC.ViewModels.ArtistProfileVM


<link rel="stylesheet" href="~/css/artistprofile.css" asp-append-version="true" />

<div class="artist-profile-container">
    <div class="artist-image">
        <img src="@Model.ImageUrl" alt="@Model.Name" />
        <div class="artist-name">
            <h2>@Model.Name</h2>
        </div>
    </div>

    <div class="artist-description">
        <p>@Model.Description</p>
    </div>
</div>