@model HyperRadioMVC.ViewModels.ShowDetailsVM

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/showdetails.css" asp-append-version="true"/>
</head>



@{
ViewBag.Title = "About Show";
Layout = "_Layout";
}

<div class="container">
<div class="show-time">
    <h5>@Model.ScheduledStart</h5>
</div>

<div class="show-title">
    <h2>@Model.Name</h2>
</div>

<div class="show-description">
    <p>@Model.Description</p>
</div>
</div>