<link rel="stylesheet" href="~/css/artistprofile.css" asp-append-version="true" />


<nav class="side-tabs">
    <a class="tab" href="#">
        NOW PLAYING
    </a>
    <a class="tab" href="#">
        SCHEDULE
    </a>
</nav>