<link rel="stylesheet" href="~/css/about.css" />



@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<div class="container">
    <h1 class="about-text">ANTI ALGORITHM</h1>
    <h1 class="about-text">DECENTRALIZED</h1>
    <h1 class="about-text">ARTIST CENTERED</h1>
    <h1 class="about-text">COMMUNITY DRIVEN</h1>
    <h1 class="about-text">100% HYPER LOCAL</h1>
</div>
