.artist-profile-container {
    flex: 1 1 auto;  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.artist-image {
    position: relative;
    flex: 1 1 400px;
    max-width: 600px;
    text-align: center;
}

.artist-image img {
    width: 100%;
    height: auto;
    opacity: 0.85;
    border-radius: 10px;
}

.artist-name {
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 7.5rem;
    font-weight: bold;
    color: white;
}

.artist-description {
    flex: 1 1 200px;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    line-height: 1.6;
}

@media (max-width: 900px) {
    .artist-profile-container {
        flex-direction: column;
        height: auto; /* allow wrapping */
    }

    .artist-description, .artist-image {
        max-width: 90%;
    }

    .artist-name {
        font-size: 2rem;
        bottom: 10px;
        padding: 5px 10px;
    }
}