#audio-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: transparent;
    color: white;
    padding-bottom: 1rem; 
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top: 1px solid #444;
}

.control-btn {
    background: transparent;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.control-btn:hover {
    background: #666;
}

.hidden {
    display: none;
}

.player-volume input {
    width: 100px;
}