.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;        
    height: 90px;          
    background-color: #1c251c;  
    position: fixed;        
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;           
    box-sizing: border-box;  
}

.logo {
    height: 100px;  
    width: auto;
}

.navbar div a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.navbar div a:hover {
    color: darkred; 
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x:  hidden;
    overflow-y:  visible;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #540ce4;
    color: white;
    overflow:  visible;
}

header.masthead {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
}

.logo {
    height: 100px;
    width: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#main-content {
    flex: 1;
    margin-bottom: 80px;
    min-height: calc(100vh - 150px);
}

.loading-overlay {
    display: none;
    position: fixed;
    inset: 0;
    color: white;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}