
.container{
    display:block;
    overflow: hidden;
    margin-top: 150px;
}


.about-text{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2.5rem;
    color: #ff3838;
}