<link rel="stylesheet" href="css/show.css" asp-append-version="true">


@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="show-container">
<a asp-controller="Show" asp-action="Create" class="ajax-link">Create A Show</a>    

<div class="show-table">
    @Html.Partial("_Shows")
</div>

</div>

